<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>File Log List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date Access</th>
            <th>IP</th>
            <th>Request Method</th>
            <th>Status</th>
            <th>User Agent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fileLog of fileLogs | async">
            <td>{{fileLog.dt_access}}</td>
            <td>{{fileLog.ip}}</td>
            <td>{{fileLog.request_method}}</td>
            <td>{{fileLog.status}}</td>
            <td>{{fileLog.user_agent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>