<h3>Create File Log</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date Access</label>
      <input type="text" class="form-control" id="dt_access" required [(ngModel)]="fileLog.dt_access" name="dt_access">
    </div>

    <div class="form-group">
      <label for="name">IP</label>
      <input type="text" class="form-control" id="ip" required [(ngModel)]="fileLog.ip" name="ip">
    </div>

    <div class="form-group">
      <label for="name">Request Method</label>
      <input type="text" class="form-control" id="request_method" required [(ngModel)]="fileLog.request_method" name="request_method">
    </div>

    <div class="form-group">
      <label for="name">Status</label>
      <input type="text" class="form-control" id="status" required [(ngModel)]="fileLog.status" name="status">
    </div>

    <div class="form-group">
        <label for="name">User Agent</label>
        <input type="text" class="form-control" id="user_agent" required [(ngModel)]="fileLog.user_agent" name="user_agent">
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>